html {
	font-size: 20px;
	font-family: 'Karma', serif;
	
}

body {
	height: 100vh;
}

.main__listings {
	display: flex;
	flex-flow: column;
}

.main__listings-title {
	text-align: center;
	font-family: var(--font-large);
	font-size: var(--font-size-xlarge);
	margin-top: 2rem;
}