:root {
  /* Colors */
  --color-primary: #970747;
  --color-secondary: #fef4e8;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;

  /* Fonts */
  --font-size-large: 1.2rem;
  --font-size-base: 0.8rem;
  --font-size-small: 0.6rem;

  --font-xlarge: 'Exo', sans-serif;
  --font-large:  'Rubik', sans-serif;
  --font-base:   'Karma', serif;


}
