.main__favorites-list {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   gap: 1rem;
   margin-right: auto;
   margin-left: auto;
   margin-top: 6rem;
   width: 50%;
}

.main__favorites-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #fff;
   border-radius: 0.3rem;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   position: relative;
   transition: ease 0.3s;
   overflow: hidden;
}

.main__favorites-item:hover .main__favorites-item-image {
   filter: brightness(100%);
}

.main__favorites-list:hover .main__favorites-item:not(:hover) .main__favorites-item-image {
   filter: brightness(60%);
}

.main__favorites-empty {
   font-family: var(--font-large);
   text-align: center;
   font-size: 1.5rem;
   margin: 4rem;
}

.main__headline {
   font-family: var(--font-large);
   text-align: center;
   font-size: 2rem;
   margin: 4rem;
}

.main__favorites-item-image {
   width: 100%;
   height: 150px;
   object-fit: cover;
   border-radius: 0.5rem;
   transition: filter 0.3s;
}

.main__favorites-item-details {
   width: 100%;
   padding: 0.5rem;
}

.main__favorites-item-city {
   color: grey;
   font-size: var(--font-size-small);
   text-align: end;
   margin: 0.1rem;
}

.main__favorites-item-title {
   font-size: var(--font-size-large);
   text-align: center;
   color: black;
   display: block;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}

.main__favorites-item-price {
   text-transform: uppercase;
   font-size: var(--font-size-base);
   text-align: center;
}

.main__favorites-item-company {
   text-transform: uppercase;
   font-size: var(--font-size-small);
   text-align: start;
   color: grey;
}

.main__favorites-item-jobTitle {
   text-align: center;
   font-weight: 600;
}

.main__favorites-item-remove {
   font-size: 1.4rem;
   color: white;
   position: absolute;
   top: -3px;
   right: -3px;
   cursor: pointer;
   background-color: black;
   border: none;
   border-radius: 0.3rem;
   padding: 0.1rem 0.2rem;
   transition: background-color 0.3s;
}

.main__favorites-item-remove:hover {
   background-color: var(--color-primary);
}