.header {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	border-bottom: 1px solid lightgrey;
	align-items: center;
}

.header__title {
	font-size: 1.3rem;
	color: #000;
	padding: 1rem 2rem;
	text-decoration: none;
}

.header__title:hover {
	border-bottom: 2px solid black;
}


.header__link {
	font-size: 1.3rem;
	text-decoration: none;
	color: #000;
	padding: 1rem 2rem;
}

.header__link:hover {
	border-bottom: 2px solid black;
}

.header__navigation {
}

.header__navigation--visible {
}