button {
	display: flex;
	flex-flow: column;
	font-size: 1rem;
	padding: 1rem 2rem;
	background-color: transparent;
	outline: none;
	border: none;
}

.icons {
	color: var(--color-primary);
	font-size: 3rem;
}

.main__buttons {
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
	margin: 5rem;
}

form {
	display: flex;
	flex-flow: column;
	align-items: center;
}