.icons {
	display: flex;
	flex-flow: column;
	padding: 1rem 2rem;
	color: var(--color-primary);
	font-size: 3rem;
	
}

.main__buttons {
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
	margin: 3rem auto;
}

.main__buttons-button {
	font-family: var(--font-base);
}

form {
	display: flex;
	flex-flow: column;
	align-items: center;	
}