.main__properties-detailed-container {
   position: relative;
   display: flex;
   flex-flow: column;
   width: 50vw;
   margin-left: auto;
   margin-right: auto;
   margin-top: 3rem;
}

.main__properties-detailed-image {
   width: 100%;
   transition: opacity 0.5s;
   position: relative;
}

.main__properties-detailed-imageContainer {
   position: relative;
}

.main__properties-detailed-detailsContainer {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
   gap: 1rem;
   margin: 2rem;
}

.main__properties-detailed-description {
   font-size: var(--font-size-base);
}

.next-button,
.previous-button {
   position: absolute;
   top: 50%;
   width: 50px;
   height: 50px;
   background-color: #fff;
   border: none;
   cursor: pointer;
   outline: none;
   opacity: 0.7;
   font-size: 18px;
   transition: opacity 0.3s;
}

.next-button:hover,
.previous-button:hover {
   opacity: 1;
   color: var(--color-primary);
}

.previous-button {
   left: 10px;
   z-index: 1;
   border-radius: 0.3rem;
   font-size: 2rem;
   font-size: 1.5rem;
}

.next-button {
   right: 10px;
   z-index: 1;
   border-radius: 0.3rem;
   font-size: 1.5rem;
}

.image-counter {
   position: absolute;
   bottom: 10px;
   right: 50%;
   background-color: rgba(0, 0, 0, 0.5);
   color: #fff;
   padding: 5px 10px;
   border-radius: 5px;
}

strong {
   color: var(--color-primary);
}


@media (max-width: 768px) {
   
   .main__properties-detailed-container {
      position: relative;
      display: flex;
      flex-flow: column;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3rem;
   }
   
   .main__properties-detailed-title {
      margin: 0.5rem;
   }
   
   .main__properties-detailed-description {
      margin: 0.5rem;
   }
   
   .main__properties-detailed-imageContainer {
      overflow: hidden;
   }
}