
.main__properties-background-image {
   position: fixed;
   width: 40%;
   opacity: 0.3;
   right: 0;
}


.main__property-container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   gap: 1rem;
   margin-right: auto;
   margin-left: auto;
   margin-top: 2rem;
   width: 50%;
}

.main__property-listing {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #fff;
   border-radius: 0.3rem;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   padding: 0 0 1rem 0;
   position: relative;
   transition: ease 0.3s;
   overflow: hidden;
}

.main__property-listing:hover {
   transform: scale(1.03);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main__property-image {
   width: 100%;
   height: 200px;
   object-fit: cover;
   border-radius: 0.5rem;
   transition: filter 0.3s;
}

.main__property-listing:hover .main__property-image {
   filter: brightness(100%);
}

.main__property-container:hover .main__property-listing:not(:hover) .main__property-image {
   filter: brightness(60%);
}

.main__property-details {
   width: 100%;
   padding: 0.5rem;
}

.main__property-location {
   color: var(--color-secondary);
   font-size: var(--font-size-small);
   text-align: end;
   margin: 0.1rem;
}

.main__property-title {
   font-size: var(--font-size-base);
   text-align: center;
   color: black;
   display: block;
}

.main__property-price {
   text-transform: uppercase;
   font-size: var(--font-size-base);
   text-align: center;
   font-weight: 700;
}

.main__property-listing>.main__property-favorite,
.main__property-listing>.main__property-favorite.bi-heart-fill {
   font-size: 1rem;
   position: absolute;
   bottom: 0.5rem;
   right: 0.5rem;
   transition: color 0.3s;
   cursor: pointer;
}

.main__property-listing:hover>.main__property-favorite {
   color: var(--color-primary);
}

.main__property-listing:hover>.main__property-favorite.bi-heart-fill {
   color: var(--color-primary);
}


.main__favorites-item-location {
   color: var(--color-secondary);
      font-size: var(--font-size-small);
      text-align: end;
      margin: 0.1rem;
}